@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");

* {
  font-family: "Roboto", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

@import "./shared/sass/index.scss";
@import "./auth/sass/index.scss";
@import "./homePage/sass/index.scss";
